#fullpage {
  overflow: auto;
  position: relative;
}

#fullpage:before {
  content: "";
  position: fixed;
  left: -5%;
  right: -5%;
  z-index: -1;
  display: block;
  background: url(background.jpg);
  background-size: cover;
  width: 110%;
  height: 110%;
  filter: blur(5px);
  -webkit-filter: blur;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}

.contact {
  height: calc(100vh - 67px);
  margin-top: 67px;
  display: flex;
  justify-content: center;
}

.form {
  height: 550px;
  width: 70%;
  position: absolute;
  top: 50%
  transform: translateY(-50%);
  background: #e6e6e6;
  padding: 0 20px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin-top: 10%;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

form h1 {
  margin: 20px 0 0;
  padding-bottom: 20px;;
  color: #78788c;
  border-bottom: 3px solid #78788c;
  font-size: calc(16px + 1vw);
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s;
  border-bottom: 2px solid #bebed2;
}

input:focus,
textarea:focus {
  border-bottom: 2px solid #78788c;
}

label:before {
  content: attr(type);
  display: block;
  margin: 20px 0 0;
  font-size: 16px;
  color: #5a5a5a;
}

form button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}

form button:hover {
  background: #5518a3;
  color: #fff;
}

form div {
  content: 'Hi';
  position: relative;
  display: inline-block;
  color: #24034d;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
}

form span {
  margin: 0 5px 0 15px;
}

.contact-info {
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  color: #5518a3;
}

.fa {
  padding-top: 10px;
}