* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;
}

.italic {
  font-style: italic;
}

.decorative-hl {
  min-height: calc(16px + 1vw);
  background-color: rgba(104, 0, 99, 0.8);
}

.decorative-hl-small {
  min-height: calc(5px + 1vw);
  background-color: rgba(104, 0, 99, 0.8);
  margin: 20px 0;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  position: fixed;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.dropdown-item.cv:hover {
  background-color: rgba(64, 13, 129, 0.2);
}

/*-----Jumbotron-----*/

.jumbotron {
  margin-bottom: auto;
  padding: 0;
}

div.jumbotron.jumbotron-fluid {
  background: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 75vh;
}

.card-body {
  padding-top: 15vh;
}

.container {
  float: left;
}

/* (tablets, 768px and down) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .jumbotron .jumbotron-fluid {
    padding: 0 !important;
  }
}

.title,
.subtitle {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.title {
  display: inline-block;
  font-size: calc(16px + 5vw);
}

.subtitle {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  display: flex;
  flex-basis: 460px;
  max-width: 460px;
  text-align: center;
  padding-left: 10px;
  font-size: calc(16px + 0.5vw);
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + 0.5vw);
  color: white;
}

.contact-info > p {
  padding-right: 15px;
}

div.icons {
  margin-top: 10px;
}

.icon,
.icon:hover,
.icon:focus {
  color: white;
  text-decoration: none;
}

.icon > i {
  font-size: 4vmin;
  color: white;
  padding: 10px;
  margin: 0 auto;
  border-top: 2px solid white;
}

.icon > i:hover {
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid white;
  transition: all 0.4s ease 0s;
}

/* Personal Drive */

.personal-drive-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0px;
  background-color: rgba(104, 0, 99, 0.8);
}

.personal-drive-style h3 {
  font-weight: bold;
  font-size: calc(16px + 1vw);
  color: #24034d;
}

.personal-drive-text h3 {
  display: flex;
  justify-content: flex-end;
}

.personal-drive-animation h3:before {
  content: 'BRAIN POWER';
  animation: animate infinite 14s;
  color: white;
}
@keyframes animate {
  0% {
    content: 'PEOPLE';
  }
  10% {
    content: 'CREATIVITY';
  }
  20% {
    content: 'WONDER';
  }
  30% {
    content: 'ODDITY';
  }
  40% {
    content: 'TEAMWORK';
  }
  50% {
    content: 'CURIOSITY';
  }
  60% {
    content: 'PASSION';
  }
  70% {
    content: 'BRAIN POWER';
  }
  80% {
    content: 'SUCCESS';
  }
  90% {
    content: 'EMPATHY';
  }
  100% {
    content: 'PEOPLE';
  }
}

/*-----Skills Bar-----*/

.devicons {
  margin: 0 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex: 1 1 auto;
  align-content: center;
}

.devicons > i {
  font-size: 3vmax;
  margin: 5px;
}

@media (max-width: 768px) {
  .devicons > i {
    font-size: calc(28px + 5vw);
  }
}

.fa-r-project {
  color: #3b5998;
}

/* -----About me----- */

.summary {
  padding-bottom: 2em;
  position: relative;
}

.summary .summary-container {
  padding-left: 160px;
}

.summary blockquote {
  font-style: italic;
  line-height: 1.4;
  margin: 0;
  position: relative;
  text-shadow: 0 1px white;
  z-index: 600;
}

.summary blockquote p {
  font-size: calc(12px + 1vw);
  color: #24034d;
  padding: 0 45px;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 768px) {
  .summary blockquote p {
    font-size: calc(12px + 1vw);
    color: #24034d;
    text-align: center;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .summary blockquote p {
    font-size: 18px;
    color: #24034d;
  }
}

.summary img {
  border: 3px solid rgba(104, 0, 99, 0.8);
  border-radius: 50%;
  display: block;
  width: 120px;
  height: 120px;
  position: absolute;
  margin-left: 5ch;
  margin: -1em 0 0 5ch;
}

/* -----CV----- */

.cv {
  background-color: rgba(104, 0, 99, 0.8);
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.cv h1 {
  font-weight: bold;
  font-size: calc(16px + 1vw);
  color: #fff;
  display: flex;
  justify-content: center;
}

.cv-heading {
  font-weight: bold;
  /* font-size: calc(16px + 1vw); */
  color: #24034d;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.cv-heading h1 {
  font-weight: bold;
  font-size: calc(16px + 1vw);
  color: #24034d;
}
/* -----Timeline----- */
section .timeline {
  overflow-x: hidden;
}

.timeline ul {
  padding: 0 auto;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #24034d;
  color: #fff;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: rgba(104, 0, 99, 0.8);
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent rgba(104, 0, 99, 0.8) transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent rgba(104, 0, 99, 0.8);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }

  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }

  .timeline ul li div {
    width: calc(100vw - 91px);
  }

  .timeline ul li:nth-child(even) div {
    left: 45px;
  }

  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgba(104, 0, 99, 0.8) transparent transparent;
  }
}

/* -----Timeline animation----- */
.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: rgb(104, 0, 99);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}

/* ----- Courses ----- */

.courses-wrapper {
  padding: 0 45px;
}

.courses {
  counter-reset: list-counter;
  list-style: none;
}

.courses li {
  font-size: 1.2rem;
  color: #24034d;
  margin-bottom: 1.5em;
  display: flex;
}

.courses div:before {
  content: counter(list-counter);
  counter-increment: list-counter;
  transform: rotate(45deg);
  text-transform: rotate(90deg);
  width: 2.7em;
  height: 2.7em;
  padding: 0.5em;
  margin-right: 1em;
  border: 0.25em solid rgba(104, 0, 99, 0.8);
  background: #7f0279;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  text-align: center;
  font-size: 0.7em;
  display: inline-block;
}

/*-----Footer-----*/

footer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(104, 0, 99, 0.8);
}

footer p {
  color: #fff;
}
