* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  position: fixed;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.dropdown-item.cv:hover {
  background-color: rgba(64, 13, 129, 0.2);
}

.btn.btn.btn-outline-secondary.my-2.my-sm-0.search-btn:hover {
  background-color: rgb(104, 0, 99);
}

/*-----Jumbotron-----*/

.jumbotron {
  margin-bottom: auto;
  padding: 3rem 0;
}

div.jumbotron.jumbotron-fluid {
  background: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 75vh;
}

.container {
  float: left;
}

.title,
.subtitle {
  font-family: 'Roboto', sans-serif;
  color: white;
}

.title {
  display: inline-block;
  font-size: calc(16px + 5vw);
}

.subtitle {
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  display: flex;
  flex-basis: 460px;
  max-width: 460px;
  text-align: center;
  padding-left: 10px;
  font-size: calc(16px + 0.5vw);
}

.contact-info {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + 0.5vw);
  color: white;
}

.contact-info > p {
  padding-right: 15px;
}

div.icons {
  margin-top: 10px;
}

.icon,
.icon:hover,
.icon:focus {
  color: white;
  text-decoration: none;
}

.icon > i {
  font-size: 4vmin;
  color: white;
  padding: 10px;
  margin: 0 auto;
  border-top: 2px solid white;
}

.icon > i:hover {
  border-color: rgba(0, 0, 0, 0);
  border-bottom: 2px solid white;
  transition: all 0.4s ease 0s;
}

/* Personal Drive */

.personal-drive-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 0px;
  background-color: rgba(104, 0, 99, 0.8);
}

.personal-drive-style h3 {
  font-weight: bold;
  font-size: calc(16px + 1vw);
  color: #24034d;
}

.personal-drive-text h3 {
  display: flex;
  justify-content: flex-end;
}

.personal-drive-animation h3:before {
  content: 'BRAIN POWER';
  animation: animate infinite 10s;
  color: white;
}
@keyframes animate {
  0% {
    content: 'PEOPLE';
  }
  10% {
    content: 'CREATIVITY';
  }
  20% {
    content: 'WONDER';
  }
  30% {
    content: 'ODDITY';
  }
  40% {
    content: 'TEAMWORK';
  }
  50% {
    content: 'CURIOSITY';
  }
  60% {
    content: 'PASSION';
  }
  70% {
    content: 'BRAIN POWER';
  }
  80% {
    content: 'SUCCESS';
  }
  90% {
    content: 'EMPATHY';
  }
  100% {
    content: 'PEOPLE';
  }
}

/*-----Skills Bar-----*/

.devicons {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  flex: 1 1 auto;
  align-content: center;
}

.devicons > i {
  font-size: 5vmax;
  margin: 5px;
}

@media (max-width: 576px) {
  .devicons > i {
    font-size: calc(32px + 5vw);
  }
}

.fa-r-project {
  color: #3b5998;
}

/* -----CV----- */

/* 
.split-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
}

.split {
  width: 50%;
  overflow-x: hidden;
  padding-top: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: calc(16px + 0.5vw);
  color: white;
}

.left {
  left: 0;
  background-color: #4442ae;
}

.right {
  right: 0;
  background-color: #a00b99;
}

.centered {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

/*-----Footer-----*/

footer {
  margin-top: 5vh;
  border-top: 1px solid;
  border-top-color: rgba(104, 0, 99 0.4);
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
